@use "../imports/mixins" as *;
@use "../imports/variables" as *;

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 60px;
  @include mqsp() {
    margin-top: 30px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 14px;
  padding: 12px 12px 12px 16px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  border-radius: 100px;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;

  @include mqpc() {
    min-width: 140px;
  }

  @include mqsp() {
    min-width: 200px;
    padding: 4px 16px 4px 20px;
    font-size: fz(16);
    min-height: 51px;
  }

  &__purchase {
    width: 24px;
    height: 24px;
    img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
        hue-rotate(166deg) brightness(105%) contrast(102%);
    }
  }

  &--primary {
    background: #000 !important;
    color: #fff;
  }
}
