@use "../imports/mixins" as *;
@use "../imports/variables" as *;

.cta {
  margin-top: 136px;
  color: var(--white);
  background-color: var(--black);
  padding-block: 96px;
  padding-inline: var(--side-padding);
  @include mqsp {
    padding-inline: var(--side-padding-mobile);
  }
  .link-group + & {
    margin-top: 0;
  }
}
.cta__inner {
  max-width: 1100px;
  margin-inline: auto;
}
.cta__heading {
  text-align: center;
  margin-bottom: 32px;
  font-family: var(--font-family-en);
  font-weight: 400;
  font-size: fz(40);
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  @include mqsp {
    font-size: fz(30);
  }
}
.cta__text {
  text-align: center;
  font-size: fz(20);
  @include mqsp {
    font-size: fz(16);
  }
}
.cta__buttons {
  display: flex;
  justify-content: center;
  gap: 36px;
  @include mqpc {
    .cta__button {
      width: calc(50% - 18px);
    }
  }
  @include mqsp {
    flex-direction: column;
    gap: 0;
  }
}

.cta__button,
.buy__button {
  width: 100%;
  max-width: 276px;
  max-height: 60px;
  text-decoration: none !important;
  color: var(--white) !important;
  background-color: var(--black);
  display: block;
  padding-block: 15px;
  padding-inline: 35px 20px;
  transition:
    0.2s opacity ease-out,
    color 0.2s ease-out,
    background-color 0.2s ease-out;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 49%;
    left: 24px;
    width: 2px;
    height: 2px;
    transform: translateY(50%);
    background-color: var(--white);
  }
  &:hover {
    background-color: var(--primary);
    color: var(--white);
    .cta__button-inner {
      margin-right: -8px;
    }
    .buy__button-inner {
      &::before {
        content: "";
        bottom: 30%;
      }
      &::after {
        content: "";
        bottom: 30%;
      }
    }
  }
}

.cta__button-inner,
.buy__button-inner {
  font-size: fz(16);
  font-family: var(--font-family-point);
  display: block;
  position: relative;
  transition:
    0.2s margin-right ease-out,
    border-color 0.2s ease-out;
  &::before,
  &::after {
    content: "";
    width: 10px;
    height: 0;
    border-bottom: 1px solid var(--white);
    position: absolute;
    right: 0;
    bottom: 50%;
    transform-origin: right center;
    transition:
      border-color 0.2s ease-out,
      bottom 0.2s ease-out,
      right 0.2s ease-out;
  }
  &::before {
    transform: translateY(-50%) rotate(50deg);
  }
  &::after {
    transform: translateY(-50%) rotate(-50deg);
  }
}

.buy__button-inner {
  &::before,
  &::after {
    content: "";
    right: 10px;
    bottom: 45%;
    width: 10px;
    height: 0;
    transform-origin: right center;
  }
  &::before {
    transform: translateY(-50%) rotate(145deg);
  }
  &::after {
    transform: translateY(-50%) rotate(35deg);
  }
}
