@use "../imports/mixins" as *;
@use "../imports/variables" as *;

.cta {
  margin-bottom: 120px;
  &__inner {
    margin-inline: 20px;
    background: #f6f6f6;
    padding: 3vw 6.25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 2.5vw;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--primary);
    font-family: neue-haas-grotesk-display, sans-serif;
    font-display: swap;
  }

  &__content {
    width: 40%;
  }
  &__text {
    font-size: fz(16);
    color: var(--primary);
    margin-bottom: 16px;
  }
  &__text-sub {
    font-size: fz(12);
    line-height: 2;

    color: var(--primary);
    opacity: 0.6;
  }

  &__button {
    width: 70px;
    height: 70px;
    background: var(--primary);
    border-radius: 100%;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    span {
      font-size: fz(10);
    }
    .cta__arrow {
      height: 20px;
      width: 24px;
      display: flex;
      justify-content: space-between;
      position: relative;
      overflow: hidden;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        background: url(#{$content-base-url}/images/icon_arrow.svg) no-repeat
          center / cover;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
          hue-rotate(183deg) brightness(106%) contrast(102%);
      }

      // 1個目
      &::before {
        left: 8px;
      }
      // 2個目（右に配置）
      &::after {
        left: 30px;
      }
    }
  }
}
