@use "../imports/mixins" as *;
@use "../imports/variables" as *;

.footer {
  width: 100%;
  background: var(--primary);
  color: #fff;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__navmain-list {
    display: flex;
    align-items: center;
    column-gap: 12px;
    text-decoration: none;
  }
}
