@use "../imports/mixins" as *;
@use "../imports/variables" as *;

.swiper-pagination-wrapper {
  position: absolute;
  z-index: 2;
  bottom: 32px;
  background: rgba(213, 128, 128, 0.55);
  border-radius: 100vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  height: 26px;
  padding: 4px 8px;
  // left: calc(50% + 120px);
  right: calc((100vw - 1148px) / 2 + 16px + 314px);
  @include mqsp(xl) {
    right: 340px;
  }
  @include mqsp(lg) {
    right: var(--side-padding);
    bottom: var(--side-padding);
  }
  @include mqsp() {
    right: 50%;
    transform: translateX(50%);
    bottom: 8px;
  }
  .swiper-pagination {
    --swiper-pagination-bullet-horizontal-gap: 8px;
    --swiper-theme-color: var(--navy);
    --swiper-pagination-bullet-inactive-color: transparent;
    position: static;
    display: flex;
    line-height: 1;
  }
  .swiper-pagination-bullet {
    border: 1px solid var(--navy);
    opacity: 1;
  }
  .is-single & {
    display: none;
  }
}

.swiper-control {
  width: 10px;
  position: relative;
  aspect-ratio: 1 / 1;
  margin-left: 8px;
  margin-right: 8px;
  button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    span {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

#swiper-play {
  display: none;
  span {
    background: var(--navy);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
  }
  .paused & {
    display: block;
  }
}
#swiper-pause {
  span {
    background: var(--navy);
    clip-path: polygon(
      0% 0%,
      0% 100%,
      30% 100%,
      30% 0,
      70% 0,
      70% 100%,
      30% 100%,
      30% 100%,
      100% 100%,
      100% 0%
    );
  }
  .paused & {
    display: none;
  }
}

.swiper-wrapper {
  .is-single & {
    justify-content: center;
  }
}
