@use "../imports/mixins" as *;
@use "../imports/variables" as *;

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding-inline: 40px;
  padding-block: 14px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__logo {
    margin-right: auto;
    width: 200px;
    height: 25px;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__nav {
    &-list {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      column-gap: 8px;
    }
    &-item:first-of-type {
      padding-right: 10px;
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 0.75rem;
        position: absolute;
        right: 0;
        top: calc(50% - 0.1rem);
        pointer-events: none;
        border-left: 1px solid #000;
        opacity: 0.4;
      }
    }
    &-link {
      text-decoration: none;
      font-size: 12px;
      span:last-of-type {
        position: relative;
        top: 2px;
      }
    }
  }

  &__menu-toggle {
    width: 5.25rem;
    height: 1.9375rem;
    background: var(--primary);
    border-radius: 100px;
    color: #fff;
    margin-left: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: 3s ease-in-out;

    &::after {
      content: "";
      display: block;
      width: 5.25rem;
      height: 1.9375rem;
      background: var(--secondary);
      position: absolute;
      bottom: -40px;
      left: 0;
    }

    &:hover {
      color: #fff;
      &::after {
        transition-duration: 0.2s;
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: 2;
      }
    }
  }

  &__menu-label {
    position: relative;
    z-index: 3;
  }
}
