@use "../imports/mixins" as *;
@use "../imports/variables" as *;

.header {
  position: sticky;
  top: 0;
  z-index: 11;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #fff;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 40px 0;
  }

  &__logo {
    display: flex;
    width: 156px;

    &-link {
      padding-block: 12px;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__nav {
    &-list {
      display: flex;
      align-items: center;
    }

    &-item {
      overflow: hidden;
    }
    &-link {
      color: transparent;
      font-weight: 500;
      text-decoration: none;
      margin-inline: 12px;
      text-shadow:
        0 1.6em 0 #1e1e1e,
        0 0 0 #1e1e1e;
      transition: text-shadow 0.4s 0s cubic-bezier(0.44, 0.14, 0.09, 1.02);
      &:hover {
        text-shadow:
          0 0 0 #1e1e1e,
          0 -1.8em 0 #1e1e1e;
      }
    }

    .header__menu-toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 185px;
      height: 79px;
      padding-left: 24px;
      margin-left: 12px;
      position: relative;
      border-left: 1px solid #fff;
      transition: 0.3s;
      &::before,
      &::after {
        content: "";
        background: #f1352b;
        display: block;
        width: 44px;
        height: 3px;
      }
      &::before {
        position: absolute;
        top: 60%;
        left: 40px;
        transform: translateY(-50%);
      }
      &::after {
        position: absolute;
        top: 50%;
        left: 40px;
        transform: translateY(-50%);
      }

      &:hover {
        color: #f1352b;
      }
    }
    .header__cta {
      display: flex;
      align-items: center;
      color: #fff;
      justify-content: center;
      width: 175px;
      height: 79px;
      padding-left: 35px;
      font-feature-settings:
        "pwid" on,
        "palt" on;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.1;
      letter-spacing: 0.05em;
      background-color: #353e41;
      border-left: #fff solid 1px;
      transition:
        background-color 0.5s 0s cubic-bezier(0.43, 0.23, 0.55, 0.75),
        border-color 0.6s 0s cubic-bezier(0.43, 0.23, 0.55, 0.75);
      position: relative;
      text-decoration: none;

      &::after {
        content: "";
        background: url(#{$content-base-url}/images/icon-line.svg) center
          center / contain;
        background-repeat: no-repeat;
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        left: 24px;
        transform: translateY(-50%);
      }

      &:hover {
        background: #f1352b;
      }
    }
  }
}
