@use "../imports/mixins" as *;
@use "../imports/variables" as *;

.product {
  margin-inline: auto;
}

.product__list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 24px;
  @include mqsp(xl) {
    justify-content: center;
  }

  .product__item {
    text-decoration: none;
    &:hover {
      div img {
        transform: scale(1.1);
      }
    }
    div {
      width: 282px;
      height: 282px;
      box-sizing: border-box;
      margin-bottom: 6px;
      overflow: hidden;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      transition: 0.3s ease;
    }
  }

  .product__brand,
  .product__name {
    font-size: fz(14);
    letter-spacing: 0.1rem;
    @include mqsp(lg) {
      font-size: fz(12);
    }
  }
}

.product__list.is-center {
  justify-content: center;
  margin-bottom: -10px;
}

.main-product__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 50px;
  margin-bottom: 100px;
  @include mqsp(xl) {
    column-gap: 20px;
  }
  @include mqsp(lg) {
    flex-direction: column;
  }
}

.main-product__description {
  width: 600px;
  @include mqsp(lg) {
    width: 100%;
    order: 1;
  }

  &__title {
    font-size: fz(40);
    font-weight: 300;
    letter-spacing: 0.1rem;
    margin-bottom: 22px;
    @include mqsp(xl) {
      font-size: fz(35);
      margin-bottom: 15px;
    }
    @include mqsp() {
      font-size: fz(30);
      margin-bottom: 12px;
    }
  }

  &__read {
    font-size: fz(24);
    font-weight: normal;
    letter-spacing: -0.02rem;
    margin-bottom: 20px;

    @include mqsp(xl) {
      font-size: fz(18);
      margin-bottom: 10px;
    }
  }

  &__text {
    font-size: fz(16);
    font-weight: normal;
    line-height: 1.75;
    margin-bottom: 20px;

    @include mqsp(xl) {
      font-size: fz(14);
    }
  }

  &__price {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
    &-text {
      font-size: fz(20);
      font-weight: 300;
      letter-spacing: 0.1rem;
    }

    &-unit {
      font-size: fz(14);
      letter-spacing: 0.1rem;
      margin-left: 8px;
    }
  }

  &__color {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
    margin-bottom: 30px;
    a {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: fz(12);
      font-family: var(--font-family-en);
      letter-spacing: 0.1rem;
      cursor: pointer;
      transition: 0.3s ease-out;

      &:hover {
        opacity: 0.8;
      }

      div {
        width: 60px;
        height: 60px;
        box-sizing: border-box;
      }

      p {
        line-height: 1;
        margin-top: 4px;
      }
    }
    .is-select div {
      border: 4px solid var(--primary);
    }
  }
}

.main-product__image {
  max-width: 600px;
  @include mqsp(lg) {
    max-width: 100%;
    width: 100%;
    order: 0;
  }

  &-container {
    position: relative;

    .arrow-left,
    .arrow-right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      filter: drop-shadow(0px 2px 0px #c8c6c7);
    }
    .arrow-left {
      left: 15px;
      &:hover {
        left: 10px;
      }
    }
    .arrow-right {
      right: 15px;
      &:hover {
        right: 10px;
      }
    }
  }
  &-main {
    min-width: 600px;
    height: auto;
    margin-bottom: 10px;
    position: relative;

    @include mqsp(lg) {
      min-width: 100%;
      height: 550px;
      box-sizing: border-box;
    }
    @include mqsp() {
      height: auto;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-sub {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    @include mqsp(xl) {
      margin-bottom: 40px;
    }
    li {
      box-sizing: border-box;
      width: calc((100% - (10px * 3)) / 4);
      max-width: 112px;
      height: auto;
      transition: 0.2s opacity ease-out;
      @include mqsp(lg) {
        width: calc((100% - (10px * 4)) / 5);
      }
      &:hover {
        opacity: 0.8;
      }
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .is-select {
      outline: 4px solid var(--primary);
      outline-offset: -4px;
    }
  }
}
