@use "../imports/mixins" as *;
@use "../imports/variables" as *;

.product {
  width: 100%;
  margin-bottom: 120px;
  &__inner {
    padding-inline: 20px;
    display: grid;
    gap: 1.5625vw;
    justify-content: space-between;
    grid-template-areas: "item1 item2 item5 item5" "item3 item4 item5 item5" "item6 item6 item7 item8" "item6 item6 item9 item10";
    margin-top: 2.5vw;
    @media screen and (width <= 767px) {
      grid-template-areas: "item5 item5" "item1 item2" "item3 item4" "item6 item6" "item7 item8" "item9 item10";
      gap: 5.0666666667vw;
      margin-top: 6.4vw;
    }
  }

  &__content {
    overflow: hidden;
    position: relative;
    transition:
      filter 0.3s ease,
      opacity 0.3s ease,
      transform 0.3s ease;
  }
  &__item {
    width: 100%;
    height: 100%;
    transition: 1s;
  }
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    position: relative;
  }
  &__text {
    font-size: fz(12);
    color: var(--primary);
    writing-mode: vertical-rl;
    position: absolute;
    top: 20px;
    right: 20px;
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background: var(--primary);
      bottom: -1px;
      transform: scale(0, 1);
      transform-origin: left top;
      transition: transform 0.3s;
    }
  }

  &__accent {
    font-size: fz(12);
    color: #888;
    width: 80%;
  }

  &__footer {
    width: 100%;
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    &-text {
      color: var(--primary);
      font-size: fz(12);
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--primary);
        bottom: -1px;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform 0.3s;
      }
    }
  }

  &__arrow {
    width: 24px;
    display: flex;
    justify-content: space-between;
    color: var(--primary);
    font-size: fz(12);
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      background: url(#{$content-base-url}/images/icon_arrow.svg) no-repeat
        center / cover;
    }

    // 1個目
    &::before {
      left: 8px;
    }
    // 2個目（右に配置）
    &::after {
      left: 30px;
    }
  }

  &__content:nth-of-type(1) {
    grid-area: item1;
  }
  &__content:nth-of-type(2) {
    grid-area: item2;
  }
  &__content:nth-of-type(3) {
    grid-area: item3;
  }
  &__content:nth-of-type(4) {
    grid-area: item4;
  }
  &__content:nth-of-type(5) {
    grid-area: item5;
  }
  &__content:nth-of-type(6) {
    grid-area: item6;
  }
  &__content:nth-of-type(7) {
    grid-area: item7;
  }
  &__content:nth-of-type(8) {
    grid-area: item8;
  }
  &__content:nth-of-type(9) {
    grid-area: item9;
  }
  &__content:nth-of-type(10) {
    grid-area: item10;
    .product__footer {
      justify-content: flex-end;
      &-text {
        margin-right: 12px;
      }
    }
  }
}

.product__link:hover {
  .product__item {
    transform: scale(1.1);
  }
  .product__footer-text::after {
    content: "";
    transform: scale(1, 1);
  }
  .product__arrow::before {
    animation: arrow-flow 0.6s linear infinite;
  }

  .product__arrow::after {
    animation: arrow-flow 0.6s linear infinite;
    animation-delay: 0.3s;
  }
}

.product__inner:has(.product__content:hover) .product__content {
  filter: blur(4px);
  opacity: 0.5;
}
div.product__content:hover {
  filter: blur(0) !important;
  opacity: 1 !important;
}

@keyframes arrow-flow {
  0% {
    transform: translateX(0) translateY(-50%);
    opacity: 1;
  }

  100% {
    transform: translateX(12px) translateY(-50%);
    opacity: 0;
  }
}
