@use "../imports/_mixins.scss" as *;
@use "../imports/_variables.scss" as *;

.profile-block {
  display: grid;
  grid-template-columns: 1fr 210px;
  grid-template-rows: 1fr auto;
  column-gap: 24px;
  row-gap: 24px;
  margin-bottom: 104px;
  max-width: 744px;
  margin-inline: auto;
  @include mqsp(lg) {
    row-gap: 32px;
    margin-bottom: 40px;
  }

  &.profile-block--sp-column {
    @include mqsp(lg) {
      grid-template-columns: auto;
      grid-template-rows: auto;
    }
  }
}
.profile-block__copy {
  grid-column: 1;
  font-size: fz(32);
  @include mqsp(lg) {
    grid-column: span 2;
  }
  @include mqsp {
    font-size: fz(22);
  }

  .profile-block--sp-column & {
    @include mqsp(lg) {
      grid-column: auto;
    }
  }
}
.profile-block__data {
  grid-column: 1;
  @include mqsp(lg) {
    align-self: center;
  }

  .profile-block--sp-column & {
    @include mqsp(lg) {
      order: 3;
    }
  }
}
.profile-block__job {
}
.profile-block__ja-name {
  font-size: fz(24);
  @include mqsp {
    font-size: fz(20);
  }
}
.profile-block__en-name {
  font-size: fz(14);
  font-family: var(--font-family-en);
  text-transform: uppercase;
}
.profile-block__media {
  grid-column: 2;
  grid-row: 1 / 3;
  @include mqsp(lg) {
    grid-row: auto;
  }

  .profile-block--sp-column & {
    @include mqsp(lg) {
      grid-column: auto;
      grid-row: auto;
      order: 2;
      display: flex;
      justify-content: center;
    }
  }
}
