@use "../imports/mixins" as *;
@use "../imports/variables" as *;

.section {
  overflow: hidden;
  opacity: 0;
  transform: translateY(24px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}
.section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.section__inner {
  max-width: 1200px;
  margin-inline: auto;
  padding-block: 50px;

  @include mqsp(xl) {
    padding: 40px 20px;
  }
}
