@use "./imports/mixins" as *;
@use "./imports/variables" as *;

:root {
  --vh: 1vh;
  --vw: 1vw;

  --white: #fff;
  --light-gray: #ebebe5;
  --gray: #959595;
  --dark-gray: #707070;
  --black: #454545;
  --primary: #0e58a1;
  --light-primary: #cdd6dd;

  --font-family-base: "Noto Sans JP", sans-serif;
  --font-family-en: "Roboto", sans-serif;
  --font-family-point: "Zen Kaku Gothic New", sans-serif;

  --font-size-base: 1rem;
  --line-height-base: 2;

  --container-width: #{rem(1200)};
  --side-padding: #{rem(83)};
  --side-padding-mobile: #{rem(20)};

  --inter: "Inter", sans-serif;
  --trim: trim-both cap alphabetic;
}

html,
body {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-family: var(--font-family-base);
  color: var(--black);
  background: var(--white);
  overflow-x: clip;
}

html:has(.is-gnavi-open) {
  scrollbar-gutter: stable;
  overflow: clip;
}

:where(a:not[class]) {
  color: var(--primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
