---
// サイトフッターコンポーネント
const baseUrl = import.meta.env.VITE_BASE_URL || "/assets";
---

<footer class="footer">
  <div class="footer__inner">
    <p class="footer__copy"><small class="footer__small">copyright@</small></p>
    <nav class="footer__navmain">
      <ul class="footer__navmain-list">
        <li class="footer__navmain-item"><a href="#" class="footer__navmain-link">プロダクト</a></li>
        <li class="footer__navmain-item"><a href="#" class="footer__navmain-link">マガジン</a></li>
        <li class="footer__navmain-item"><a href="#" class="footer__navmain-link">ワークス</a></li>
      </ul>
    </nav>
    <nav class="footer__navsub">
      <ul class="footer__navsub-list">
        <li class="footer__navsub-item">
          <a href="#" class="footer__navsub-link">
            <span class="footer__navsub-text">アバウト</span>
            <div class="footer__navsub-icon">
              <span class="footer__navsub-arrow">(</span>
              <span class="footer__navsub-arrow">)</span>
            </div>
          </a>
        </li>
        <li class="footer__navsub-item">
          <a href="#" class="footer__navsub-link">
            <span class="footer__navsub-text">コンタクト</span>
            <div class="footer__navsub-icon">
              <span class="footer__navsub-arrow">(</span>
              <span class="footer__navsub-arrow">)</span>
            </div>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
