---
// サイトヘッダーコンポーネント
import SideMenu from "@components/layout/SideMenu.astro";

interface Props {
  currentPage?: string;
}
const { currentPage } = Astro.props;
const baseUrl = import.meta.env.VITE_BASE_URL || "/assets";
---

<header class="header">
  <div class="header__inner">
    <h1 class="header__logo">
      <a href="/" class="header__logo-link">
        <img src={`${baseUrl}/images/dummy_logo.svg`} alt="Headerロゴ" class="header__logo-img" />
      </a>
    </h1>

    <!-- 言語切り替え -->
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">
            <span>J</span>
            <span>P</span>
          </a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">
            <span>E</span>
            <span>N</span>
          </a>
        </li>
      </ul>
    </nav>

    <!-- toggleMenu -->
    <button class="header__menu-toggle">
      <span class="header__menu-label">Menu</span>
    </button>
    <SideMenu />
  </div>
</header>
