---
// サイトヘッダーコンポーネント

interface Props {
  currentPage?: string;
}
const { currentPage } = Astro.props;
const baseUrl = import.meta.env.VITE_BASE_URL || "/assets";
---

<header class="header">
  <div class="header__inner">
    <h1 class="header__logo">
      <a href="" class="header__logo-link">SiteTitle</a>
    </h1>
    <nav class="header__mainnav">
      <ul class="header__mainnav-list">
        <li class="header__mainnav-item">
          <a href="#" class="header__mainnav-link">
            <span class="header__mainnav-text">
              product
              <svg class="header__mainnav-circle" viewBox="0 0 120 40">
                <ellipse cx="60" cy="20" rx="55" ry="16" transform="rotate(-3 60 20)"> </ellipse>
              </svg>
            </span>

            <span class="header__mainnav-icon"></span>
          </a>
        </li>
        <li class="header__mainnav-item">
          <a href="#" class="header__mainnav-link">
            <span class="header__mainnav-text">
              magazine
              <svg class="header__mainnav-circle" viewBox="0 0 120 40">
                <ellipse cx="60" cy="20" rx="55" ry="16" transform="rotate(-3 60 20)"> </ellipse>
              </svg>
            </span>

            <span class="header__mainnav-icon"></span>
          </a>
        </li>
        <li class="header__mainnav-item">
          <a href="#" class="header__mainnav-link">
            <span class="header__mainnav-text">
              works
              <svg class="header__mainnav-circle" viewBox="0 0 120 40">
                <ellipse cx="60" cy="20" rx="55" ry="16" transform="rotate(-3 60 20)"> </ellipse>
              </svg>
            </span>

            <span class="header__mainnav-icon"></span>
          </a>
        </li>
      </ul>
    </nav>

    <nav class="header__subnav">
      <ul class="header__subnav-list">
        <li class="header__subnav-item">
          <a href="#" class="header__subnav-link">
            <p>アバウト</p>
            <div class="header__subnav-icon">
              <span class="header__subnav-arrow">(</span>
              <span class="header__subnav-arrow">)</span>
            </div>
          </a>
        </li>
        <li class="header__subnav-item">
          <a href="#" class="header__subnav-link">
            <p>コンタクト</p>
            <div class="header__subnav-icon">
              <span class="header__subnav-arrow">(</span>
              <span class="header__subnav-arrow">)</span>
            </div>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
