---
// サイトヘッダーコンポーネント

interface Props {
  currentPage?: string;
}
const { currentPage } = Astro.props;
const baseUrl = import.meta.env.VITE_BASE_URL || "/assets";
---

<header class="header">
  <div class="header__inner">
    <h1 class="header__logo">
      <a href="#" class="header__logo-link">
        <img src={`${baseUrl}/images/logo.png`} alt="logo" />
      </a>
    </h1>

    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Top</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">About</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Training</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Price/Plan</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Guide</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Case</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Study</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Blog</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Contact</a>
        </li>
        <li class="header__nav-item">
          <button class="header__menu-toggle">menu</button>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__cta">初回体験登録</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
