---
import Layout from "@layouts/Layout.astro";
const title = "KANEKA OLED EC";
const description = "";
const baseUrl = import.meta.env.VITE_BASE_URL || "/assets";
---

<Layout title={title}>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide fv__image">
        <picture>
          <source media="(min-width: 768px)" width="2100" height="696" srcset="/assets/images/dummy.png" />
          <img src="/assets/images/dummy.png" width="750" height="550" alt="" loading="lazy" />
        </picture>
      </div>
      <div class="swiper-slide fv__image">
        <picture>
          <source media="(min-width: 768px)" width="2100" height="696" srcset="/assets/images/dummy2.png" />
          <img src="/assets/images/dummy.png" width="750" height="550" alt="" loading="lazy" />
        </picture>
      </div>
      <div class="swiper-slide fv__image">
        <picture>
          <source media="(min-width: 768px)" width="2100" height="696" srcset="/assets/images/dummy3.png" />
          <img src="/assets/images/dummy.png" width="750" height="550" alt="" loading="lazy" />
        </picture>
      </div>
    </div>
    <div class="swiper-pagination-wrapper">
      <div class="swiper-pagination"></div>
      <div class="swiper-control">
        <button id="swiper-play" aria-label="再生"><span></span></button>
        <button id="swiper-pause" aria-label="停止"><span></span></button>
      </div>
    </div>
  </div>
</Layout>
