---
import Layout from "@layouts/Layout.astro";
const title = "KANEKA OLED EC";
const description = "";
const baseUrl = import.meta.env.VITE_BASE_URL || "/assets";
---

<Layout title={title}>
  <section class="fv fv--visual">
    <!-- 背景ビジュアル -->
    <div class="p-top-mv-map__lines">
      <figure style="translate: none; rotate: none; scale: none; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px);">
        <picture>
          <source srcset="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line1-sp.webp" media="(max-width: 1023px)" />
          <img src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line1.webp" />
        </picture>
      </figure>
      <figure style="translate: none; rotate: none; scale: none; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px);">
        <picture>
          <source srcset="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line2-sp.webp" media="(max-width: 1023px)" />
          <img src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line2.webp" />
        </picture>
      </figure>
      <figure style="translate: none; rotate: none; scale: none; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px);">
        <picture>
          <source srcset="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line3-sp.webp" media="(max-width: 1023px)" />
          <img src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line3.webp" />
        </picture>
      </figure>
      <figure style="translate: none; rotate: none; scale: none; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px);">
        <picture>
          <source srcset="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line4-sp.webp" media="(max-width: 1023px)" />
          <img src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line4.webp" />
        </picture>
      </figure>
      <figure style="translate: none; rotate: none; scale: none; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px);">
        <picture>
          <source srcset="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line5-sp.webp" media="(max-width: 1023px)" />
          <img src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line5.webp" />
        </picture>
      </figure>
      <figure style="translate: none; rotate: none; scale: none; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px);">
        <picture>
          <source srcset="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line6-sp.webp" media="(max-width: 1023px)" />
          <img src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line6.webp" />
        </picture>
      </figure>
      <figure style="translate: none; rotate: none; scale: none; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px);">
        <picture>
          <source srcset="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line7-sp.webp" media="(max-width: 1023px)" />
          <img src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line7.webp" />
        </picture>
      </figure>
      <figure style="translate: none; rotate: none; scale: none; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px);">
        <picture>
          <source srcset="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line8-sp.webp" media="(max-width: 1023px)" />
          <img src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line8.webp" />
        </picture>
      </figure>
      <figure style="translate: none; rotate: none; scale: none; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px);">
        <picture>
          <source srcset="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line9-sp.webp" media="(max-width: 1023px)" />
          <img src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line9.webp" />
        </picture>
      </figure>
      <figure style="translate: none; rotate: none; scale: none; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px);">
        <picture>
          <source srcset="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line10-sp.webp" media="(max-width: 1023px)" />
          <img src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line10.webp" />
        </picture>
      </figure>
      <figure style="translate: none; rotate: none; scale: none; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px);">
        <picture>
          <source srcset="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line11-sp.webp" media="(max-width: 1023px)" />
          <img src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line11.webp" />
        </picture>
      </figure>
      <figure style="translate: none; rotate: none; scale: none; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px);">
        <picture>
          <source srcset="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line12-sp.webp" media="(max-width: 1023px)" />
          <img src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line12.webp" />
        </picture>
      </figure>
      <figure style="translate: none; rotate: none; scale: none; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px);">
        <picture>
          <source srcset="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line13-sp.webp" media="(max-width: 1023px)" />
          <img src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line13.webp" />
        </picture>
      </figure>
      <figure style="translate: none; rotate: none; scale: none; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px);">
        <picture>
          <source srcset="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line14-sp.webp" media="(max-width: 1023px)" />
          <img src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-line14.webp" />
        </picture>
      </figure>
    </div>

    <!-- コンテンツ（最小） -->
    <div class="fv__inner">
      <div class="fv__body">
        <!-- <h1 class="fv__title">Creative Island</h1> -->
        <ul class="p-top-mv-map__cultures">
          <li class="_Art">
            <span class="_dot"></span>
            <span class="p-top-mv-map__title cl-norewrite is-scrambling">Art</span>
            <img class="p-top-mv-map__pic" src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-art.webp" data-sort="1" style="clip-path: inset(0px 0px 0px 100%);" />
            <img class="p-top-mv-map__pic" src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-art2.webp" data-sort="4" style="clip-path: inset(0px 0px 0px 100%);" />
            <img class="p-top-mv-map__pic" src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-art3.webp" data-sort="7" style="clip-path: inset(0px 0px 0px 100%);" />
            <img class="p-top-mv-map__pic" src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-art4.webp" data-sort="10" style="clip-path: inset(0px 0% 0px 0px);" />
          </li>
          <li class="_Sciences">
            <span class="_dot"></span>
            <span class="p-top-mv-map__title cl-norewrite is-scrambling">Sciences</span>
            <img class="p-top-mv-map__pic" src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-sciences.webp" data-sort="2" style="clip-path: inset(0px 0px 0px 100%);" />
          </li>
          <li class="_Music">
            <span class="_dot"></span>
            <span class="p-top-mv-map__title cl-norewrite is-scrambling">Music</span>
          </li>
          <li class="_Theater">
            <span class="_dot"></span>
            <span class="p-top-mv-map__title cl-norewrite is-scrambling">Theater</span>
            <img class="p-top-mv-map__pic" src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-theater.webp" data-sort="3" style="clip-path: inset(0px 0px 0px 100%);" />
          </li>
          <li class="_history">
            <span class="_dot"></span>
            <span class="p-top-mv-map__title cl-norewrite is-scrambling">history</span>
          </li>
          <li class="_education">
            <span class="_dot"></span>
            <span class="p-top-mv-map__title cl-norewrite is-scrambling">Academic</span>
            <img class="p-top-mv-map__pic" src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-education.webp" data-sort="5" style="clip-path: inset(0px 0px 0px 100%);" />
          </li>
          <li class="_research">
            <span class="_dot"></span>
            <span class="p-top-mv-map__title cl-norewrite is-scrambling">Research</span>
          </li>
          <li class="_Literature">
            <span class="_dot"></span>
            <span class="p-top-mv-map__title cl-norewrite is-scrambling">Literature</span>
            <img class="p-top-mv-map__pic" src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-literature.webp" data-sort="6" style="clip-path: inset(0px 0px 0px 100%);" />
          </li>
          <li class="_Ceramic">
            <span class="_dot"></span>
            <span class="p-top-mv-map__title cl-norewrite is-scrambling">Ceramic</span>
            <img class="p-top-mv-map__pic" src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-ceramic.webp" data-sort="8" style="clip-path: inset(0px 0px 0px 100%);" />
          </li>
          <li class="_Performing">
            <span>
              <span class="p-top-mv-map__title cl-norewrite is-scrambling">Performing</span>
              <br />
              <span class="_dot"></span>
              <span class="p-top-mv-map__title cl-norewrite is-scrambling">Arts</span>
            </span>
            <img class="p-top-mv-map__pic" src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-performing.webp" data-sort="9" style="clip-path: inset(0px 0px 0px 100%);" />
          </li>
          <li class="_Architecture">
            <span class="_dot"></span>
            <span class="p-top-mv-map__title cl-norewrite is-scrambling">Architecture</span>
            <img class="p-top-mv-map__pic" src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-architecture.webp" data-sort="11" style="clip-path: inset(0px 100% 0px 0px);" />
          </li>
          <li class="_Design">
            <span class="_dot"></span>
            <span class="p-top-mv-map__title cl-norewrite is-scrambling">Design</span>
            <img class="p-top-mv-map__pic" src="https://nakanoshimalab.jp/wp/wp-content/themes/nakanoshimalab2025/assets/img/p-top-mv-map-design.webp" data-sort="12" style="clip-path: inset(0px 100% 0px 0px);" />
          </li>
        </ul>
      </div>
    </div>
  </section>
</Layout>
